.space {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1 rem;
}

.candidateArea .candidateArea button {
  align-items: center;
  margin: auto;
  width: 90vw;
  border: 1px solid var(--light_color);
  border-radius: var(--radius_button);
  color: var(--dark_color);
  padding: 0.5rem;
}

.describeCandidate {
  padding-bottom: 30px;
  label,
  input {
    display: inline-block;
    margin-top: 1rem;
  }

  label {
    color: var(--dark_color);
    width: 30vw;
    text-align: center;
  }

  input {
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
  }
}

.candidateArea div {
  display: inline-flex;
  align-items: center;
}

div {
  align-items: center;
  h2,
  h3 {
    display: inline-block;
    font-size: 1.2rem;
  }
}

div:not(:first-child) {
  .experience {
    background-color: white;
    display: flex;
  }
}

.methodOfContact {
  margin-top: 2rem;
  border-top: 1px solid var(--light_color);
  padding: 30px 0px;
  h1 {
    font-size: 1rem;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .methods {
    display: flex;
  }
  input {
    margin-left: 15px;
  }
}

.phoneCheckbox {
  justify-content: flex-start;
}

.typeOfContract {
  border-top: 1px solid var(--light_color);
  padding: 30px 0px;
  h1 {
    font-size: 1rem;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  input {
    margin: 10px;
    margin-inline-start: auto;
  }
}

.experience {
  justify-content: center;
  margin: 25px 15px 15px 15px;
}

.submitForm {
  justify-content: center;
}

.save {
  margin: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
