.experience_capture {
  form {
    display: grid;
    grid-template: auto 1fr auto auto/ 1fr 1fr;
    margin: auto;
    padding: 0.5rem;

    .job-name {
      grid-area: 1 / 1 / 2 / 2;
    }

    .company-name {
      grid-area: 1 / 2 / 2 / 3;
    }

    .experience-description {
      grid-area: 2 / 1 / 3 / 3;
    }

    .start-date {
      grid-area: 3 / 1 / 4 / 2;
    }

    .end-date {
      grid-area: 3 / 2 / 4 / 3;
    }

    .submit-button {
      grid-area: 4 / 1 / 5 / 3;
    }

    p {
      text-align: right;
    }

    label {
      text-align: center;
      color: var(--dark_color);
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    input {
      border-radius: var(--radius_button);
      border: 1px solid var(--color_gray);
      padding: 5px 0;
    }

    textarea {
      height: 100px;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      border: 1px solid gray;
      resize: none;
    }

    input:focus {
      outline: none;
      border: 1px solid var(--light_color);
    }

    input,
    textarea {
      margin: 5px 0;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
    }

    button {
      margin: auto;
      margin-top: 0.5rem;
      border: 1px solid var(--light_color);
      border-radius: var(--radius_button);
      color: var(--dark_color);
      padding: 0.5rem;
    }
  }
}
