.experience_capture {
  font-family: "Jost", sans-serif;
  
  h2{
    font-size: 1.2rem;
    display: flex;
  }

  .plus-icon {
    font-size: 1.6rem;
    margin-left: 1.4rem;
    cursor: pointer;
  }

  .plus-icon:hover {
    color: var(--light_color);
  }

  .minus-icon {
    font-size: 1.6rem;
    margin-left: 1.4rem;
    cursor: pointer;
  }

  .minus-icon:hover {
    color: var(--light_color);
  }

  form {
    padding: 0.5rem;
    
    p {
      text-align: right;
    }
    
    label {
      text-align: center;
      color: var(--dark_color);
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
    
    input {
      border-radius: var(--radius_button);
      border: 1px solid var(--color_gray);
      padding: 5px 0;
    }
    
    textarea {
      height: 100px;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      border: 1px solid gray;
      resize: none;
    }

    select {
      border-radius: var(--radius_button);
      border: 1px solid var(--color_gray);
      padding: 5px 0;
    }

    select:focus {
      outline: none;
      border: 1px solid var(--light_color);
    }
    
    input:focus {
      outline: none;
      border: 1px solid var(--light_color);
    }

    input,
    textarea {
      margin: 5px 0;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
    }

    button {
      display: flex;
      margin: auto;
      margin-top: 0.5rem;
      border: 1px solid var(--light_color);
      border-radius: var(--radius_button);
      color: var(--dark_color);
      padding: 0.5rem;
    }
  }
}

.experience-list {
  font-family: "Jost", sans-serif;
  margin-top: 2rem;
  
  .one-experience {
  margin-top: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    color: var(--light_color);
  }

  .exp-company {
    font-size: 1rem;
    margin: 0.2rem 0;
    font-weight: 600;
  }

  .exp-desc {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    font-weight: 500;
  }

  .exp-date {
    font-size: 1rem;
    margin: 0.4rem 0;
  }

  button {
    border: none;
  }

  .edit-icon {
    font-size: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
    color: black;
  }

  .edit-icon:hover {
    color: var(--light_color);
  }

  .delete-icon {
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
  }

  .delete-icon:hover {
    color: var(--light_color);
  }

}