.connexion {
  header {
    padding: 10px 0;
    nav a:last-child,
    input {
      display: none;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3rem;

    label,
    input {
      margin: 10px 0;
    }

    label {
      width: 30vw;
      color: var(--dark_color);
    }

    input {
      border: 1px solid gray;
      border-radius: 10px;
      padding: 5px 10px;
    }

    input:focus {
      outline: none;
      border: 1px solid var(--light_color);
    }

    button {
      border: 1px solid var(--light_color);
      border-radius: var(--radius_button);
      padding: 0.5rem;
      margin: 20px;
      margin-left: auto;
      border-radius: 10px;
      color: var(--dark_color);
      margin-top: 3rem;
    }
  }

  nav {
    padding-top: 20px;

    button {
      border: 1px solid var(--light_color);
      border-radius: var(--radius_button);
      padding: 5px;
      margin: 0;
      width: 40vw;
      color: var(--dark_color);
    }
  }
}
