form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;

  p {
    text-align: right;
  }

  label,
  input {
    display: inline-block;
    margin: 1rem 0;
  }

  label {
    width: 30vw;
    text-align: center;
  }

  input {
    width: 50vw;
  }

  button {
    margin: auto;
    margin-top: 5rem;
    width: 50vw;
    border-radius: 10px;
    padding: 0.5rem;
  }
}

.editOffer {
  .describe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .describe label {
    width: 100%;
    text-align: center;
  }
  .describe input {
    width: 80vw;
  }

  textarea {
    margin: auto;
    width: 80vw;
  }
}
