.pageEditOffer {
  header {
    margin: 0;
    padding: 20px 0;

    nav a:last-child,
    input {
      display: none;
    }
  }

  .editOffer {
    display: flex;
    flex-direction: column;

    min-height: 100%;

    label {
      color: var(--dark_color);
    }

    div {
      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
        border: 1px solid var(--light_color);
      }
    }

    input,
    textarea {
      margin: 5px 0;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
    }

    .describe {
      display: flex;
      flex-direction: column;

      label {
        margin-top: 10px;
        text-align: center;
      }
    }

    .contract,
    .premises {
      display: flex;
      justify-content: center;
      margin: 5px 0;
      label {
        padding: 5px;
      }
    }

    button {
      margin: 1rem auto;
      width: 50vw;
      border: 1px solid var(--light_color);
      border-radius: var(--radius_button);
      color: var(--dark_color);
      padding: 0.5rem;
    }
  }
}
