.button-connexion {
  display: block;
  margin: auto;
  border: none;
  width: 4rem;
}

a {
  color: rgb(37, 37, 37);
  text-decoration: none;
}

.input {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  width: 60vw;
}
input:focus {
  outline: none;
  border: 1px solid var(--light_color);
}

.externaticLogo {
  width: 44vw;
}

.personIcon {
  width: 1.5rem;
  height: auto;
  margin: auto;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

.personIconClose {
  width: 1.3rem;
  height: auto;
  margin: auto;
  background-color: #fff;
  color: #000;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 20px;
}

.personIcon:hover {
  background-color: #c91961;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

.mainHeader {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
}

.mainHeader::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, #851342 0%, #ca2061 20%, white 100%);
  filter: blur(1.2px);
}

.menuConnected {
  position: absolute;
  right: 10px;
  li {
    font-size: 0.8em;
    background-color: var(--light_color);
    border-radius: 10px;

    button {
      font-size: 0.8em;
      background-color: inherit;
      color: inherit;
      border: none;
    }

    a {
      color: #fff;

      background-color: var(--light_color);
    }
    text-align: center;
    color: #fff;
    margin: 2px;
    padding: 10px;
  }
}

.connect {
  font-size: 0.8em;
  color: var(--light_color);
}

.connectOn {
  font-size: 0.8em;
  color: var(--light_color);
}
