.button-connexion {
  align-items: center;
  box-sizing: border-box;
  border: none;
}

.input {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  width: 60vw;
}
input:focus {
  outline: none;
  border: 1px solid var(--light_color);
}

.externaticLogo {
  width: 30vw;
}

.personIcon {
  width: 1.5rem;
  height: auto;
  margin-right: 1.1rem;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

.personIcon:hover {
  background-color: #c91961;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header {
  padding: 20px 0;
}
