.button-connexion {
  align-items: center;
  background-image: linear-gradient(144deg, #c91961, #40404000 60%, #fbfbfb);
  width: 30%;
  border-radius: 8px;
  box-sizing: border-box;
}

.input {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
  border-color: #dedede #bababa #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 5px #444;
  overflow: hidden;
  padding: 10px;
  width: 35vh;
  margin-top: 20px;
}

.logo {
  width: 40%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.search {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}
