$font-family: "Jost", sans-serif;
$background-color: #fff;
$colors: (
  primary: #000,
  secondary: #404040,
  tertiary: #c91961,
);

* {
  margin: 0;
  /*positioner la marge à 0*/
  padding: 0;
  /*positionner le bord à 0*/
  background-color: $background-color;
  /*couleur de fond*/
}

hr.rounded1 {
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  border-top: 3px solid #bbb;
  border-radius: 5px;
}

.Offer-Details {
  display: grid;
  grid-column-gap: 9px;
  grid-template: 20px 60px 60px 30px 30px 30px 4fr 4fr 20px / 20px 2fr 3fr 2fr 20px;
  font-family: $font-family;
  color: map-get($colors, primary);

  section {
    font-size: 1rem;
    margin: 10px 0;
    h1 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--dark_color);
    }

    p {
      padding: 0.5rem 1rem;
      font-weight: 400;
      border: 2px solid var(--color_gray);
      border-radius: var(--radius_button);
    }
  }
}

.Job-Name {
  margin: 0;
  grid-area: 2 / 2 / 3 / 5;
  font-size: 1.2rem;
  font-weight: 600;
  color: map-get($colors, tertiary);
}

.Entreprise-Name {
  margin: 0;
  grid-area: 3 / 2 / 4 / 4;
  color: map-get($colors, secondary);
  font-size: 1.2rem;
  font-weight: 600;
}

.Publication-Date {
  margin: 0;
  grid-area: 3 / 4 / 4 / 5;
  color: map-get($colors, secondary);
  inset-block: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.Job-Type {
  margin: 0;
  grid-area: 4 / 4 / 5 / 5;
  text-align: end;
  color: map-get($colors, secondary);
  font-size: 1rem;
  font-weight: 600;
}

.Job-Location {
  margin: 0;
  grid-area: 5 / 4 / 6 / 5;
  text-align: end;
  color: map-get($colors, secondary);
  font-weight: 600;
}

.Favorite-Icon {
  grid-area: 5 / 3 / 6 / 4;
}

.Favorite-Icon:hover {
  color: #c91961;
}
.Share-Icon {
  margin-left: 25px;
  grid-area: 5 / 3 / 6 / 4;
}

.Share-Icon:hover {
  color: #c91961;
}

.Mail-Icon {
  margin-left: 50px;
  grid-area: 5 / 3 / 6 / 4;
}

.Mail-Icon:hover {
  color: #c91961;
}

hr.rounded2 {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 33px;
  margin-right: 33px;
  border-top: 3px solid #bbb;
  border-radius: 5px;
}

//Job-Description with content//
.Job-Description {
  margin: 0;
  grid-area: 7 / 2 / 8 / 5;
}

//Entreprise-Description with content//
.Entreprise-Description {
  grid-area: 8 / 2 / 9 / 5;
  --font-weight: 600;
}
