li {
  list-style: none;

  .cardsOffer {
    text-decoration: none;
    color: black;

    section {
      border: 1px solid var(--color_gray);
      border-radius: var(--radius_button);
      width: 100%;
      margin-bottom: 10px;

      div {
        padding: 5px;
        background-color: transparent;
      }
    }

    .description {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border-bottom: 1px solid var(--color_gray);
      background-color: transparent;
      h2 {
        font-size: 1.3em;
        color: var(--light_color);
      }
      h3 {
        font-size: 1em;
      }

      div {
        gap: 3px;
      }

      div,
      p {
        display: inline-block;
      }
      p {
        max-width: 30%;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
}
