$font-family: "Jost", sans-serif;
$background-color: #fff;
$colors: (
  primary: #000,
  secondary: #404040,
  tertiary: #c91961,
  );
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

* {
  margin: 0;
  /*positioner la marge à 0*/
  padding: 0;
  /*positionner le bord à 0*/
  background-color: $background-color;
  /*couleur de fond*/
}

.Offer-Details {
  display: grid;
  grid-column-gap: 9px;
  grid-template: 20px 60px 60px 60px 4fr 4fr 20px / 10px 2fr 3fr 2fr 10px;
  font-family: $font-family;
  color: map-get($colors, primary);
}

.Job-Name {
  grid-area: 2 / 2 / 3 / 5;
  font-size: 1.5rem;
  font-weight: 600;
}

.Entreprise-Name {
  grid-area: 3 / 2 / 4 / 4;
  color: map-get($colors, secondary);
  font-size: 1.2rem;
  font-weight: 600;
}

.Publication-Date {
  grid-area: 3 / 4 / 4 / 5;
  color: map-get($colors, secondary);
  inset-block: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.Job-Description {
  grid-area: 5 / 2 / 6 / 5;
  font-size: 1rem;


  h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .Job-Type {
    color: map-get($colors, secondary);
    font-size: 1rem;
    font-weight: 600;
  }

  .Job-Location {
    color: map-get($colors, secondary);
    font-weight: 600;
  }

  p {
    font-weight: 400;
  }
}

.Entreprise-Description {
  grid-area: 6 / 2 / 7 / 5;
  font-size: 1rem;
  font-weight: 600;

    h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  p {
    font-weight: 400;
  }
}
